<template>
  <div class="mt-10">
    <div>
      <h2
        v-if="edit"
        class="mt-6 text-center text-3xl font-extrabold text-gray-900"
      >
        Редактировать пост!
      </h2>
      <h2 v-else class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Добавить новый пост!
      </h2>
    </div>
    <div class="px-4 py-5">
      <div class="shadow overflow-hidden sm:rounded-md p-10">
        <div class="bg-white mb-4">
          <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-12">
              <div>
                <label
                  for="text"
                  class="block text-left font-medium text-gray-700 mb-1"
                >
                  Название
                </label>
                <input
                  id="text"
                  name="text"
                  type="text"
                  v-model="form.title"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Название"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <label for="about" class="block text-left font-medium text-gray-700">
            Body
          </label>
          <div class="mt-1">
            <textarea
              id="about"
              name="about"
              v-model="form.body"
              rows="3"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="you@example.com"
            ></textarea>
          </div>
        </div>
        <div class="px-4 pt-10 block bg-gray-50 text-right sm:px-6">
          <button
            v-if="edit"
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            @click="editPost()"
          >
            <span>Edit</span>
          </button>
          <button
                  v-else
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            @click="addPost()"
          >
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Products from "~/modules/Products";

export default {
  props: {
    edit: {
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {
      form: {
        title: "",
        body: "",
      },
      editForm: {
        title: "",
        body: "",
        id: "",
        userId: "",
      },
    };
  },
  methods: {
    addPost() {
      this.$emit("addPost", this.form);
    },
    editPost() {
      this.editForm.title = this.form.title
      this.editForm.body = this.form.body
      this.$emit("editPost", this.editForm);
    },
  },
  mounted() {
    if (this.edit){
      const post = this.$store.state.products
      post.filter(res => {
        if (res.id === +this.$route.params.id) {
          this.form.title = res.title
          this.form.body = res.body;
        }
      })
      Products.getPost(this, this.$route.params.id)
              .then(res => {
                this.editForm.id = res.id
                this.editForm.userId = res.userId
              })
    }
  }
};
</script>

<style lang="scss" scoped>
/*@tailwind base;*/

/*h1 {*/
/*  @apply text-2xl;*/
/*}*/
/*h2 {*/
/*  @apply text-xl;*/
/*}*/
/*h3 {*/
/*  @apply text-lg;*/
/*}*/
/*a {*/
/*  @apply text-blue-600 underline;*/
/*}*/

/*@tailwind components;*/

/*@tailwind utilities;*/
</style>
