<template>
    <div class="container">
        <Form :edit="true" @editPost="editPost($event)" />
    </div>
</template>

<script>
    import Form from "~/components/Form";
    import Products from "~/modules/Products";
    export default {
        name: "index",
        components: {
            Form
        },
        methods: {
            editPost(event) {
                return Products.editPost(this, event)
                    .then(() => {
                        const post = this.$store.state.products
                        let editingPost = []
                        post.filter(val => {
                            if (val.id === event.id) {
                                val.title = event.title
                                val.border = event.body
                            }
                            editingPost.push(val)
                        })
                        this.$store.commit('EDIT_POST', editingPost)
                        this.$router.push('/')
                    })
                    .catch((e) => {
                        console.log(e)
                    })
            },
        }
    }
</script>

<style scoped>

</style>
